.MuiPaper-root {
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.MuiTypography-root {
  font-weight: 500;
}

.MuiSlider-root {
  color: #1976d2;
}

.MuiTab-root {
  min-width: 80px;
}

.MuiTabs-root {
  flex-grow: 1;
  justify-content: space-between;
}
